server:
  port: 8082

spring:
  application:
    name: payment-service
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/payment_db
  cloud:
    function:
      definition: orderCreated
    stream:
      bindings:
        orderCreated-in-0:
          destination: order-events
          group: payment-group
      kafka:
        binder:
          brokers: localhost:9092

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  retry:
    instances:
      paymentRetry:
        maxAttempts: 3
        waitDuration: 2s

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    com.example: DEBUG
